AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
ANSIBLE_SSH_USER=ubuntu
ANSIBLE_SSH_PRIVATE_KEY_FILE=~/.ssh/id_rsa
INTAKE_API_URL=http://localhost:8080
# Optional overrides
LOCALSTACK_DOCKER_NAME=localstack-main
DEBUG=1
UPLOAD_WORKERS=10
BLUR_THRESHOLD=100.0
